:root {
    --primary-color: #60749B;
    /*soft blue */
    --secondary-color: #70736C;
    /*light grey*/
    --highlight-text: white;
    --heading-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin: 1rem auto;
}

header ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: flex-end;
    list-style: none;
}

header li a {
    text-decoration: none;
}

header img {
    width: 100px;

}

h1,
h2 {
    font-family: var(--heading-font);
    background-color: var(--primary-color);
    color: var(--highlight-text);
}

h1 {
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
}

h2 {
    text-align: center;
    flex: 0 0 100%;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
    font-family: var(--body-font);
}

article {
    position: absolute;
    bottom: 12px;
    right: 40px;
}

article p {
    width: 100%;
    padding: 12px;
    text-align: center;
    opacity: 0.9;
    margin: 20px;
    background-color: var(--primary-color);
    color: var(--highlight-text);
}

footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

footer p {
    padding-right: 280px;
}

footer nav img {
    width: 60px;
    height: auto;
}

iframe {
    padding: 12px;
}

form {
    display: flex;
    float: inline-end;
    margin: 12px;
    flex-direction: column;
}

input[type=radio] {
    padding-right: 12px;
}

button[type=submit] {
    width: 120px;
    height: auto;
}

div {
    text-align: center;
    font-size: large;
}

/* Class selectors */

.socialmedia a {
    text-decoration: none;
    /* only applies to anchor tags (a) that are connected to the socialmedia class (children of elements with a socialmedia class)*/
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
}

.hero article img {
    float: right;
    width: 125px;
    position: relative;
    z-index: 10;
    border: 12px;
    box-shadow: 0 0 2px var(--secondary-color);
    margin: 1rem;
}

.adventure {
    display: flex;
}

.adventure figure {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.history {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.history p {
    flex: 1;
    padding: 0 20px;
    text-align: center;
}

.history img {
    width: 200px;
    height: auto;
}