/* table {
    border-collapse: collapse;
    border: 5px gray;
    letter-spacing: 1px;
}

tfoot tr,
thead tr {
    color: white;
    background-color: black;
    border: 2px;
}

th,
td {
    border: 5px lightblue;
    padding: 8px 12px;
    text-align: center;
    font-weight: 700;
} */

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    text-align: center;
}

thead th,
tfoot tr {
    background-color: #000;
    color: #fff;
    font-weight: 700;
}