* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --side-color: darkgrey;
    --secondary-color: black;
    font-family: 'Courier New', Courier, monospace;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
    padding: 1rem;
}

main {
    max-width: 840px;
}

main img {
    float: right;
    width: 200px;
    height: auto;
    border: 1px solid var(--secondary-color);
    padding: 2px;
    margin: 1rem;
    max-width: fit-content;
    box-shadow: 0 0 30px var(--side-color)
}

aside {
    width: 20em;
    border: var(--side-color);
    background-color: var(--side-color);
    color: var(--secondary-color);
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    left: 70px;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 1rem;
}

footer {
    margin-top: 1em;
    border-top: 1px var(--secondary-color);
    text-align: center;
}

/* Class selectors */

.box {
    margin: 1rem;
    border: 2px solid black;
    padding: 1rem;
    background-color: grey;
}