body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #2E2D2A;
    font-size: medium;
    color: aliceblue;
    margin: auto;
    padding: 10px;
    text-align: center;
}

img {
    display: block;
    width: 300px;
    height: auto;
    padding: 4px;
    margin: auto;
    box-shadow: 0 0 30px gray;

}

h1 {
    margin: 10px;
    text-align: center;
    height: auto;
}

h2 {
    text-align: center;
}

main {
    width: 400px;
    margin: 0 auto;
}

section {
    margin: 20px 0;
    border: 1px black;
    padding: 10px;
    background-color: #c2c2c2;
    font-size: .9rem;
}

footer {
    background-color: #2E2D2A;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: aliceblue;
    margin: 10px;
    padding: 10px 10px;
    text-align: center;
}